.main {
  padding: 4px;
}
.title-register {
  background-color: #fff;
  padding: 7px;
}

.table-customers {
  font-size: 20px;
  font-weight: 500;
  margin: 10px;
}

.title-container {
  display: flex;
  align-items: center;
}

.button-icon {
  color: #fff;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 500px;
  height: 400px;
  background-color: rgba(109, 93, 96, 0.12);
  box-shadow: 17px 15px rgba(0, 0, 0, 0.1);
}

button.consultar-button {
  margin-left: 100px;
  background-color: #0778c9;
  color: white;
  border-radius: 2px;
  height: 57px;
  width: 300px;
}
