<div class="main">
  <div class="title-register">
    <div class="title-container">
      <button mat-icon-button (click)="navigateTo('')">
        <mat-icon>arrow_back</mat-icon>
      </button>

      <p class="table-customers">Editar Cadastro</p>
    </div>
  </div>
  <div class="container">
    <form class="form-content">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Nome</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Idade</mat-label>
        <input matInput formControlName="age" />
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Gênero</mat-label>
        <mat-select formControlName="gender">
          <mat-option value="one">Feminino</mat-option>
          <mat-option value="two">Masculino</mat-option>
          <mat-option value="three">Outros</mat-option>
        </mat-select>
      </mat-form-field>
      <button
        mat-flat-button
        class="consultar-button"
        (click)="navigateTo('cliente')"
      >
        Editar Cadastro
      </button>
    </form>
  </div>
</div>
