<div class="container">
  <div class="menu">
    <p class="nameEmpresa">ClientFocus</p>
    <div class="options-menu">
      <p class="content-menu" (click)="navigateTo('clientes')">
        Tabela de clientes
      </p>
      <button
        mat-flat-button
        class="consultar-button"
        color="primary"
        (click)="navigateTo('registro-de-clientes')"
      >
        Registre novos clientes
      </button>
    </div>
  </div>
  <div class="main-conteiner">
    <div class="content-container">
      <h1>Bem-vindo a nossa plataforma</h1>
      <p>Consulte seu cliente aqui.</p>
      <form class="filter-container">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Buscar por nome</mat-label>
          <input
            type="text"
            aria-label="Number"
            matInput
            [formControl]="name"
          />
        </mat-form-field>
        <button
          mat-flat-button
          class="consultar-button"
          color="primary"
          (click)="getCustomers()"
        >
          Consultar
        </button>
      </form>
    </div>
    <div class="image">
      <img src="assets/image_1.png" alt="Imagem de exemplo" />
    </div>
  </div>
  <div class="contacts">
    <img src="assets/facebook.png" alt="" />
    <img src="assets/instagram.png" alt="" />
    <img src="assets/youtube.png" alt="" />
    <img src="assets/linkedin.png" alt="" />
  </div>
</div>
