<div class="main">
  <div class="title-register">
    <div class="title-container">
      <button mat-icon-button (click)="navigateTo('')">
        <mat-icon>arrow_back</mat-icon>
      </button>

      <p class="table-customers">
        {{ customerId ? "Edição" : "Cadastro" }} de cliente
      </p>
    </div>
  </div>
  <div class="container">
    <form class="form-content" [formGroup]="registerForm">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Nome</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Idade</mat-label>
        <input matInput formControlName="age" />
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Gênero</mat-label>
        <mat-select formControlName="gender">
          <mat-option value="Feminino">Feminino</mat-option>
          <mat-option value="Masculino">Masculino</mat-option>
          <mat-option value="Outros">Outros</mat-option>
        </mat-select>
      </mat-form-field>
      <button
        mat-flat-button
        class="consultar-button"
        (click)="createCustomer()"
      >
        {{ customerId ? "Editar" : "Cadastro" }}
      </button>
    </form>
  </div>
</div>
